body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    
}

.product, .cart-item, .product-detail {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.product img, .product-detail img {
    max-width: 100%;
    height: auto;
}

.product button, .cart-item button, .btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.product button:hover, .cart-item button:hover, .btn:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 400px;
    margin: auto;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

form button {
    margin-top: 10px;
}
video {
    position: absolute;
   
    width: 100%;
    height: 100vh;
              
}
.video-container {
            
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}